<p id="notice"><%= notice %></p>

<h2>Title: <%= @book.title %></h2>
<h3>Author: <%= @book.author %></h3>
<h3>Price: <%= @book.price %></h3>
<h3><%= @book.isbn10 %></h3>
<h3>Shipping Weight: <%= @book.shipping_weight %> pounds</h3>

<%= link_to 'Back', books_path %>
